[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "~=1.0"
PyJWT = "==1.7.1"
bitstruct = "*"
connexion = "*"
cryptography = "*"
gunicorn = "*"
jsonschema = "*"
python-json-logger = "*"
requests = "*"
swagger-ui-bundle = "*"
wsgicors = "*"
statsd = "*"
importlib-resources = "*"
typing-extensions = "*"

[dev-packages]
Werkzeug = "*"
build = "*"
coverage = "*"
pytest = "==6.0.2"
pytest-watch = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3"
