[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
databases = {extras = ["postgresql"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "==6.0.2"

[requires]
python_version = "3"
