[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
PyJWT = "==1.7.1"
connexion = "*"
cryptography = "*"
gunicorn = "*"
jsonschema = "*"
python-json-logger = "*"
requests = "*"
swagger-ui-bundle = "*"
wsgicors = "*"
statsd = "*"

[dev-packages]
Flake8 = "*"
autopep8 = "*"
coverage = "*"
flake8_docstrings = "*"
mypy = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3"
