[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
pyjwt = "*"
cryptography = "*"
connexion = "*"
statsd = "*"
bitstruct = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3"
