.card {
  width: 480px;
}

.cardAccessType {
  padding-right: var(--vds-spacer-xs);
}

.cardAccessValue {
  font-weight: 100;
}

.menuLink {
    cursor: pointer;
    color: #174eb6;
}

.subhead {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 var(--vds-color-slate-lighter);
  font: var(--vds-font-sm);
}

.listWrapper {
  background: var(--vds-color-white);
}
