.idea
.vscode
.DS_Store

node_modules

vulnerability/node_modules/
vulnerability/test-results/
vulnerability/playwright-report/
vulnerability/.helm/
vulnerability/tilt_modules/

/xtest/node_modules/
/xtest/tilt_modules/
/xtest/tmp/
/xtest/logs/
/xtest/sdk/js/web/dist/
/xtest/.helm

abacus-and-api-integration-tests/node_modules/
abacus-and-api-integration-tests/tilt_modules/
abacus-and-api-integration-tests/test-results/
abacus-and-api-integration-tests/playwright-report/
abacus-and-api-integration-tests/.helm/
abacus-and-api-integration-tests/e2e/test-results
abacus-and-api-integration-tests/e2e/playwright-report
__pycache__/
xtest/sdk/java/cmdline.jar
/xtest/platform/
/xtest/java-sdk/
/xtest/sdk/go/otdfctl
/xtest/otdfctl/
/tmp
