*.deb
*.egg-info
*.log
*.pyc
*.sqlite
*.swp
*.tmp
*.DS_Store
*~
node_modules

.DS_Store
.pytest_cache
.scannerwork
.venv*
.vscode
.run
.build
__pycache__
**/.idea/
/build/
/build-temp/
/kas/.idea/
coverage-reports
.coverage

# @SECURITY
certs/*
!certs/README.md
*.pem
/.env

.argo/ci-files
/performance-test/.env
kubeconfig
/containers/python_base/certs/*
!/containers/python_base/certs/README.md
# KAS requires checked-in test certs, allow them
!/containers/kas/kas_core/tdf3_kas_core/util/keys/keys_for_tests/*

# Helm
.helm/
/certs/
