.idea
.vscode
.DS_Store

/backend
/frontend
/tdf3-js

node_modules

vulnerability/node_modules/
vulnerability/test-results/
vulnerability/playwright-report/
vulnerability/.helm/
vulnerability/tilt_modules/

/xtest/node_modules/
/xtest/tilt_modules/
/xtest/tmp/
/xtest/sdk/js/web/dist/
/xtest/.helm