[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-keycloak = "==0.26.1"
PyJWT = "==2.0.1"
cryptography = "==3.4.6"
importlib-resources = "*"
importlib-metadata = "*"
typing-extensions = "*"

[dev-packages]
build = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3"
