.label {
  display: block;
  font: var(--vds-font-md-bold);
  color: var(--vds-color-slate-darkest);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.selectContainer {
  display: flex;
  width: calc(33% - 15px);
  flex-direction: column;
}

.counter {
  font: var(--vds-font-sm);
  color: var(--vds-color-slate-darker);
  padding-top: 7px;
}

.buttonWrapper {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}

.buttonBrake {
  width: 13px;
}
