annotated-types==0.7.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
construct==2.10.70
construct-typing==0.7.0
cryptography==46.0.3
gitdb==4.0.12
GitPython==3.1.46
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
packaging==25.0
pluggy==1.6.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
pytest-html==4.1.1
pytest-metadata==3.1.1
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
smmap==5.0.2
typing_extensions==4.15.0
urllib3==2.6.3
