annotated-types==0.7.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
construct==2.10.68
construct-typing==0.6.2
cryptography==43.0.1
idna==3.8
iniconfig==2.0.0
jsonschema==4.23.0
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
pytest==8.3.2
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.2
