annotated-types==0.7.0
attrs==25.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
construct==2.10.68
construct-typing==0.6.2
cryptography==44.0.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.8
iniconfig==2.0.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.19.2
pytest==8.3.2
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-xdist==3.6.1
referencing==0.37.0
requests==2.32.4
rpds-py==0.27.1
smmap==5.0.2
typing_extensions==4.12.2
urllib3==2.6.0
