.container {
    margin: auto;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    margin-bottom: var(--vds-spacer-sm);
}
