{
  "presets": ["next/babel"],
  "plugins": [["babel-plugin-root-import"], ["styled-jsx/babel"], "inline-react-svg"],
  "env": {
    // For React Native
    "production": {
      "plugins": ["babel-plugin-root-import"]
    },
    // For testing
    "test": {
      "plugins": ["babel-plugin-transform-dynamic-import"]
    }
  }
}
