
.pageHeader{
    margin: var(--vds-spacer-xs) 0 var(--vds-spacer-md) 0;
    width: auto;
}

.attributeDescription{
  margin-bottom: 20px;
}

.pageHeaderTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-bottom: var(--vds-spacer-xs);
}

.pageHeaderBreadcrumb{
    display: flex;
    font-size: 30px;
}

/* Style the list */
.breadcrumb {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.breadcrumbText, .breadcrumbText a {
    display: inline-flex;
    font: var(--vds-font-heading-md);
    color: var(--vds-color-blue-darkest);
}

.breadcrumbSeparator{
    margin: auto 10px;
}

.breadcrumbLink a {
    text-decoration: underline;
    display: inline-flex;
    font: var(--vds-font-heading-md);
}

.actionAlignmentLeft{
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    flex: auto;

}
.actionAlignmentRight{
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.action {
    padding: 0 5px;
    display: flex;
    align-items:center;
}

.description {
    display: flex;
    justify-items: flex-start;
    font: var(--vds-font-sm);
    color: var(--vds-color-slate-primary);
}
.descriptionTitle {
    font: var(--vds-font-sm-bold);
    padding-right: var(--vds-spacer-xs);
}

.content {
    border-radius: var(--vds-border-radius-md);
    padding: var(--vds-spacer-sm);
}

.contentTitle {
    font: var(--vds-font-heading-xs);
    color: var(--vds-color-slate-darker);
    margin-bottom: var(--vds-spacer-xs);
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
}


.actionView {
    background: var(--vds-color-slate-lightest);
}

.actionEdit {
    background: var(--vds-color-blue-lightest);
}

.menuLink {
    cursor: pointer;
}
