.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.index {
  color: var(--vds-color-slate-darkest);
  font: var(--vds-font-md);
  padding-right: 20px;
}

.buttons {
  width: 78px;
  display: flex;
  justify-content: space-between;
}

.button {
  border: 1px solid var(--vds-color-slate-darkest);
  box-sizing: border-box;
  border-radius: var(--vds-border-radius-xs);
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
}

.arrow {
  border: solid var(--vds-color-blue-darker);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -3px;
}
