[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
importlib-resources = "*"
attribute_provider = {editable = true, path = "."}
importlib-metadata = "*"
typing-extensions = "*"

[dev-packages]
Werkzeug = "*"
build = "*"
pytest = "==6.0.2"
pytest-cov = "*"
pytest-watch = "*"
setuptools = "*"
twine = "*"
wheel = "*"
attribute-provider = {editable = true, path = "."}

[requires]
python_version = "3"
