.description {
    padding-left: var(--vds-spacer-md);
    line-height: var(--vds-spacer-md);
    font-family: var(--vds-font-family-display);
    color: var(--vds-color-slate-darker);
}

.name {
    padding-right: var(--vds-spacer-lg);
}
