image:
  repository: ghcr.io/opentdf/keycloak
  tag: head
  pullPolicy: Never # We expect Tilt to cache these
postgresql:
  enabled: false
service:
  extraPorts:
    - name: http-local
      port: 8080
      targetPort: http
      protocol: TCP
extraEnv: |
  - name: KEYCLOAK_LOG_LEVEL
    value: DEBUG
  - name: KEYCLOAK_USER
    value: keycloakadmin
  - name: KEYCLOAK_PASSWORD
    value: mykeycloakpassword
  - name: CLAIMS_URL
    value: http://opentdf-claims:5000/v1/claims
  - name: DB_VENDOR
    value: postgres
  - name: DB_ADDR
    value: tdf-postgresql
  - name: DB_DATABASE
    value: keycloak_database
  - name: DB_PORT
    value: "5432"
  - name: KEYCLOAK_PROXY_ADDRESS_FORWARDING
    value: "true"
  - name: KEYCLOAK_FRONTEND_URL
    value: "http://localhost:65432/auth"
extraEnvFrom: |
  - secretRef:
      name: '{{ include "keycloak.fullname" . }}-db'
secrets:
  db:
    stringData:
      DB_USER: postgres
      DB_PASSWORD: otdf-pgsql-admin
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  rules:
    - host: localhost
      paths:
        - path: /auth(/|$)(.*)
          pathType: Prefix
    - host: host.docker.internal 
      paths:
        - path: /auth(/|$)(.*)
          pathType: Prefix
  tls: null
