.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemContainer,
.itemInnerContainer,
.itemContent {
  font: var(--vds-font-sm);
}

.itemContainer {
    /*padding-bottom: var(--vds-spacer-sm);*/
    min-height: 60px;
}

.itemContent {
    font: var(--vds-font-md);
    font-weight: 100;
    flex-grow: 1;
}

.itemContent.paddingItemView {
    padding: 6px 0 12px 0;
}

.orderedList {
}

.orderedItem {
}

.unorderedList {
}

.unorderedItem {
  display: flex;
  justify-items: flex-start;
  padding: 12px;
}

.sandBoxSupport {
    padding: 0;
}

.selected {
  background: var(--vds-color-green-lighter);
}

.deleted, .deleted.selected {
  background: var(--vds-color-slate-even-lighter);
}

.deleted .itemDetailTitle, .deleted .itemContent::first-line{
  text-decoration: line-through;
}

.unorderedDecorator {
  height: 9px;
  width: 9px;
  margin: 7px 12px 0 0;
  border: 1px solid #c6cbd4;
  border-radius: 100px;
}

.scrollSupport .unorderedDecorator {
    height: 12px;
    width: 12px;
    margin: 12px 3px 12px 12px;
}

.itemInnerContainer {
    flex-grow: 1;
    display: flex;
}

.itemDetail {
  display: flex;
  justify-content: space-between;
  color: #515864;
  font: var(--vds-font-xs);
}

.itemDetailTitle {
  font: var(--vds-font-sm);
}

.itemDetailAction a {
  color: #174eb6;
  font: var(--vds-font-sm);
  text-decoration: underline;
}

.orderList{
  padding: 0  12px 0 9px;
}

.hierarchyMode .orderList{
    background-color: white;
    box-shadow: inset 0 -1px 0 0 #3668FF;
    display: flex;
    align-items: center;
    padding: 0  12px 0 9px;
}

.indexTitle {
    font-size: 16px;
    color: #515864;
    font-weight: bold;
}

.indexTitleBlock{
    display: flex;
    align-items: center;
    padding-right: 6px;
}

.arrowsContainer{
    margin-right: 9px;
}

.arrowsContainer svg {
    cursor: pointer;
}

.scrollSupport {
    max-height: 240px;
    overflow-y: auto;
}

.scrollSupport.hierarchyMode {
    max-height: 252px;
}

.hierarchyMode .sandBoxSupport {
    margin-bottom: 3px;
}

.arrowBlock{
    width: 18px;
    height: 18px;
}
