.container {
    /*display: flex;*/
    /*flex: auto;*/
    /*justify-content: center;*/
    /*margin: 0 0 var(--vds-spacer-sm) 0;*/
}

.label {
    font: var(--vds-font-heading-xxs);
    color: var(--vds-color-slate-darkest);
    padding-bottom: 7px;
}

.component {
    min-width: 238px;
}

.wrapSelector{
    display: flex;
    flex: auto;
    align-items: center;
    margin: 0 0 var(--vds-spacer-sm) 0;
}

.titleBlock{
    margin-left: 13px;
    font-size: 13px;
    color: #515864;
}
