# Code Owners 
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


*               @virtru/platform  @virtru/platform
CODEOWNERS      @virtru/platform  @virtru/platform
*.js            @virtru/platform  @virtru/platform @virtru/platform-js
*.test.js       @virtru/platform  @virtru/platform @virtru/platform-js @virtru/platform-qa

README.md     @virtru/platform  @virtru/platform @virtru/platform @virtru/platform-js
/doc/     @virtru/platform  @virtru/platform @virtru/platform @virtru/platform-js
/.buildkite/     @virtru/platform  @virtru/platform @virtru/platform-js @virtru/platform-build
package.json     @virtru/platform  @virtru/platform @virtru/platform-js @virtru/platform-build
package-lock.json     @virtru/platform  @virtru/platform @virtru/platform-js @virtru/platform-build
