# base requirements

-i https://pypi.org/simple
alembic==1.7.6
asgiref==3.4.1; python_version >= '3.6'
asyncpg==0.25.0
cffi==1.15.0
click==8.0.3; python_version >= '3.6'
cryptography==36.0.2
databases[postgresql]==0.5.5
fastapi==0.73.0
h11==0.12.0; python_version >= '3.6'
httptools==0.3.0
markupsafe==2.0.1; python_version >= '3.6'
psycopg2-binary==2.9.3
pydantic==1.8.2; python_full_version >= '3.6.1'
pyjwt==2.3.0
python-dotenv==0.19.2
python-editor==1.0.4
pyyaml==6.0
sqlalchemy==1.4.31
starlette==0.17.1; python_version >= '3.6'
typing-extensions==4.0.1
uvicorn[standard]==0.17.1
uvloop==0.16.0
watchgod==0.7
websockets==10.1
