.header {
  width: 100%;
  background-color: var(--vds-color-slate-darker);
  padding: var(--vds-spacer-xs) var(--vds-spacer-sm);
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--vds-color-white);
  font: var(--vds-font-md);
  font-weight: bold;
  flex: auto;
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: end;
  flex: auto;
}

.actions,
.actions a {
  color: var(--vds-color-blue-lighter);
  font: var(--vds-font-sm);
  text-align: right;
  margin-top: var(--vds-spacer-xxs);
}

.actions > * {
  flex: auto;
}

/**
 * Sub Header
 */

.subheader {
  background-color: var(--vds-color-white);
  box-shadow: inset 0 -1px 0 0 var(--vds-color-slate-lighter);
}

.subheader .title {
  color: #515864;
  font-size: 13px;
}

.subheader .title strong {
  color: #2d323b;
}

.subheader .actions a {
  color: #174eb6;
}
