.key {
    display: flex;
    align-items: center;
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--vds-font-size-xs);
    line-height: var(--vds-line-height-xs);
    max-width: 336px;
    padding-top: var(--vds-spacer-xs);
    padding-bottom: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.value.copyToMode {
   font-size: var(--vds-font-size-md);
}

.icon {
    fill: var(--vds-color-slate-darker);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.icon:hover {
    fill: var(--vds-color-slate-darkest);
}
