:root {
  --default-padding: 24px;
  --virtru-color: #3668ff;
}

.order-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
}

.order-item__wrapper {
  padding: 0;
  cursor: pointer;
}

.order-list {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: 50%;
}

.order-list__item {
  list-style: none;
  padding: 12px;
  border-bottom: 1px solid var(--virtru-color);
  cursor: pointer;
}
