[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
psycopg2-binary = "*"
databases = "*"
fastapi = "*"
asyncpg = "*"
uritools = "*"
jwt = "*"
install = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
