

.tableActionCell {
  text-align: right;
}

.unassigned {
  color: var(--vds-color-blue-darker);
  font: var(--vds-font-sm);
  text-decoration: underline;
  border: 0;
  background: none;
  cursor: pointer;
}

.assigned {
  font: var(--vds-font-sm-bold);
  color: var(--vds-color-slate-primary);
}
