name: Client-Web-Test
on:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [xtest]
  schedule:
    - cron: "0 9,21 * * *"
jobs:
  xtest:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - run: git submodule update --remote --recursive
        if: github.event.schedule
      # todo: install and activate virtual env for python?
      - name: Build client-web
        run: |-
          cd projects/client-web/lib
          npm ci
          npm pack
      - name: Install dependencies
        run: |-
          cd projects/frontend
          cp ../client-web/lib/opentdf-client-*.tgz ./
          npm ci
          npx playwright install
          npx playwright install-deps
          npm i opentdf-client-*.tgz
          cd ../../client-web-test
          npm ci
          npx playwright install
          npx playwright install-deps
      - uses: yokawasa/action-setup-kube-tools@v0.7.1
        with:
          setup-tools: |
            kubectl
            helm
            tilt
          # This should be in sync with the minikube-deployed kube version below
          kubectl: "1.23.9"
          helm: "3.9.2"
          tilt: "0.30.5"
      - run: |
          kubectl version --client
          kustomize version
          tilt version
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          minikube-version: 1.25.2
          # This should be in sync with the setup-tools version above
          kubernetes-version: 1.23.9
      - name: Run tilt
        run: |-
          kubectl version
          cd client-web-test
          tilt ci
