name: TDF3-Test
on: [pull_request]
jobs:
  xtest:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      # todo: install and activate virtual env for python?
      - name: Build TDF3
        run: |-
          cd tdf3-js
          npm ci
          npm pack
      - name: Install dependencies
        run: |-
          cd frontend
          cp ../tdf3-js/tdf3-js-4.1.8.tgz ./
          cd ../tdf3-js
          npm ci
      - uses: yokawasa/action-setup-kube-tools@v0.7.1
        with:
          setup-tools: |
            kubectl
            helm
            tilt
          # This should be in sync with the minikube-deployed kube version below
          kubectl: "1.23.1"
          helm: "3.8.0"
          tilt: "0.26.2"
      - run: |
          kubectl version --client
          kustomize version
          tilt version
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          minikube-version: 1.25.1
          # This should be in sync with the setup-tools version above
          kubernetes-version: 1.23.1
      - name: Run tilt
        run: |-
          kubectl version
          cd tdf3-test
          tilt ci integration-test test-tdf3 -- --to-edit opentdf-abacus-tdf3