name: Vulnerability-Test
on: [pull_request]
jobs:
  xtest:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Install dependencies
        run: |-
          cd vulnerability
          npm ci
      - uses: yokawasa/action-setup-kube-tools@v0.7.1
        with:
          setup-tools: |
            kubectl
            helm
            tilt
          kubectl: "1.23.1"
          helm: "3.8.0"
          tilt: "0.26.2"
      - run: |
          kubectl version --client
          kustomize version
          tilt version
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          minikube-version: 1.25.1
          # This should be in sync with the setup-tools version above
          kubernetes-version: 1.23.1
      - name: Run tilt
        run: |-
          kubectl version
          cd vulnerability
          tilt ci integration-test test -- --to-edit opentdf-abacus