name: X-Test
on:
  pull_request:
  repository_dispatch:
    types: [xtest]
  schedule:
    - cron: "30 9,21 * * *"
jobs:
  cross-client-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com
      # todo: install and activate virtual env for python?
      - name: config ghpr with pat
        run: |-
          cd xtest
          echo @opentdf:registry=https://npm.pkg.github.com >.npmrc
          echo //npm.pkg.github.com/:_authToken=${{ secrets.READ_PACKAGES_PAT }} >>.npmrc
      - name: update packages
        run: |-
          cd xtest
          npm uninstall @opentdf/cli @opentdf/client
          npm uninstall @opentdf/cli
          npm install @opentdf/cli@${{ github.event.client_payload.version }}
          npm install
          pip3 install -r requirements.txt
      - uses: yokawasa/action-setup-kube-tools@v0.7.1
        with:
          setup-tools: |
            kubectl
            helm
            tilt
          # This should be in sync with the minikube-deployed kube version below
          kubectl: "1.24.1"
          helm: "3.9.2"
          tilt: "0.30.5"
      - run: |
          kubectl version --client
          kustomize version
          tilt version
      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@master
        with:
          minikube-version: 1.26.0
          # This should be in sync with the setup-tools version above
          kubernetes-version: 1.24.1
      - name: Run tilt
        run: |-
          kubectl version
          cd xtest
          tilt ci
